<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="card shadow-sm p-4">

                <h2 class="mb-4">Editar Visita</h2>

                <!-- BUSCADOR -->
                <div class="mb-3">
                    <label class="form-label fw-semibold">Buscar por Nombre, Correo, Numero de Cuenta o RFC</label>
                    <input 
                        type="text" 
                        class="form-control"
                        placeholder="Escribe para buscar..."
                        name="search"
                        th:value="${search}"
                        hx-get="/pantallas/visitas/editar/tabla?page=0"
                        hx-trigger="keyup changed delay:300ms"
                        hx-target="#tabla-container"
                        hx-swap="innerHTML"
                    >
                </div>

                <!-- VISITAS RECIENTES -->
                <h5 class="mt-4 mb-3">Resultados</h5>

                <div id="tabla-container" th:fragment="tablaContainer">
                    <table class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Numero de cuenta | RFC</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Carrera</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <th:block th:each="v : ${visitasRecientes}">
                                <tr>
                                    <td>[[${v.noCuentaRFC}]]</td>
                                    <td>[[${v.nombre}]] [[${v.apellidoPaterno}]] [[${v.apellidoMaterno}]]</td>
                                    <td>[[${v.email}]]</td>
                                    <td>[[${v.rol.descripcion}]]</td>
                                    <td>[[${v.carrera.nombre}]]</td>
                                    <td>
                                        <button 
                                            class="btn btn-primary btn-sm"
                                            th:hx-get="@{/pantallas/visitas/form-editar(id=${v.id})}"
                                            hx-target="#main-content"
                                            hx-swap="innerHTML">
                                            Editar
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                    
                            <li th:if="${page.hasPrevious()}" class="page-item">
                                <button class="page-link"
                                th:hx-get="@{/pantallas/visitas/editar/tabla(page=${page.number - 1}, search=${search})}"
                                hx-target="#tabla-container"
                                hx-swap="innerHTML">
                                Anterior
                                </button>
                            </li>
                    
                            <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                                th:classappend="${i == page.number} ? 'active'"
                                class="page-item">
                                <button class="page-link"
                                th:hx-get="@{/pantallas/visitas/editar/tabla(page=${i}, search=${search})}"
                                hx-target="#tabla-container"
                                hx-swap="innerHTML"
                                th:text="${i + 1}">
                                </button>
                            </li>
                    
                            <li th:if="${page.hasNext()}" class="page-item">
                                <button class="page-link"
                                th:hx-get="@{/pantallas/visitas/tabla(page=${page.number + 1}, search=${search})}"
                                hx-target="#tabla-container"
                                hx-swap="innerHTML">
                                Siguiente
                                </button>
                            </li>                    
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
