<div class="card shadow-sm">
    <div class="card-header bg-light fw-semibold text-primary">
        Resultados
    </div>

    <ul class="list-group list-group-flush">

        <th:block th:if="${#lists.isEmpty(visitas)}">
            <li class="list-group-item text-muted text-center py-3">
                Sin resultados...
            </li>
        </th:block>

        <th:block th:each="v : ${visitas}">
            <li class="list-group-item list-group-item-action p-3">

                <button 
                    class="w-100 text-start border-0 bg-transparent"
                    th:attr="data-visita-id=${v.id}">

                    <div class="fw-semibold text-dark">
                        [[${v.noCuentaRFC}]]
                    </div>

                    <div>
                        [[${v.nombre}]] [[${v.apellidoPaterno}]] [[${v.apellidoMaterno}]]
                    </div>

                    <div class="small text-muted">
                        [[${v.email}]]
                    </div>

                </button>

            </li>
        </th:block>

    </ul>
</div>