<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="card shadow-sm p-4">

                <h2 class="mb-4">Editar Proyecto</h2>

                <!-- BUSCADOR -->
                <div class="mb-3">
                    <label class="form-label fw-semibold">Buscar por Proyecto: (Nombre, Clave, Descripcion); Responsable: (Nombre, No Cuenta o RFC); Carrera</label>
                    <input 
                        type="text" 
                        class="form-control"
                        placeholder="Escribe para buscar..."
                        name="search"
                        th:value="${search}"
                        hx-get="/pantallas/proyectos/editar/tabla?page=0"
                        hx-trigger="keyup changed delay:300ms"
                        hx-target="#tabla-container"
                        hx-swap="innerHTML"
                    >
                </div>

                <!-- PROYECTOS RECIENTES -->
                <h5 class="mt-4 mb-3">Resultados:</h5>

                <div id="tabla-container" th:fragment="tablaContainer">
                    <table class="table table-striped table-bordered tabla-ajustada">
                        <thead class="table-dark">
                            <tr>
                                <th>Clave</th>
                                <th>Nombre</th>
                                <th>Responsables</th>
                                <th>Carreras</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <th:block th:each="p : ${proyectosRecientes}">
                                <tr>
                                    <td>[[${p.clave}]]</td>
                                    <td>[[${p.nombre}]]</td>
                                    <td class="celda-scroll">
                                        <span th:each="v : ${p.visitas}"
                                              class="badge bg-primary me-1">
                                            [[${v.nombre}]] [[${v.apellidoPaterno}]] [[${v.apellidoMaterno}]] - [[${v.noCuentaRFC}]]
                                        </span>
                                    </td>
                                    <td class="celda-scroll">
                                        <span th:each="c : ${p.carreras}"
                                              class="badge bg-dark me-1">
                                            [[${c.nombre}]]
                                        </span>
                                    </td>
                                    <td>
                                        <button 
                                            class="btn btn-primary btn-sm"
                                            th:hx-get="@{/pantallas/proyectos/form-editar(id=${p.id})}"
                                            hx-target="#main-content"
                                            hx-swap="innerHTML">
                                            Editar
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination">
                    
                            <li th:if="${page.hasPrevious()}" class="page-item">
                                <button class="page-link"
                                th:hx-get="@{/pantallas/proyectos/editar/tabla(page=${page.number - 1}, search=${search})}"
                                hx-target="#tabla-container"
                                hx-swap="innerHTML">
                                Anterior
                                </button>
                            </li>
                    
                            <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                                th:classappend="${i == page.number} ? 'active'"
                                class="page-item">
                                <button class="page-link"
                                th:hx-get="@{/pantallas/proyectos/editar/tabla(page=${i}, search=${search})}"
                                hx-target="#tabla-container"
                                hx-swap="innerHTML"
                                th:text="${i + 1}">
                                </button>
                            </li>
                    
                            <li th:if="${page.hasNext()}" class="page-item">
                                <button class="page-link"
                                th:hx-get="@{/pantallas/proyectos/editar/tabla(page=${page.number + 1}, search=${search})}"
                                hx-target="#tabla-container"
                                hx-swap="innerHTML">
                                Siguiente
                                </button>
                            </li>                    
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .tabla-ajustada td {
        white-space: normal !important;
        word-wrap: break-word;
        max-width: 250px;
    }

    .celda-scroll {
        max-height: 90px;
        overflow-y: auto;
    }
</style>
