<div class="mt-4" data-page="proyecto-editar" th:attr="data-id=${proyectoId}">">

    <h4 class="mb-3">Editar Proyecto</h4>

    <form id="proyecto-form">

        <div class="mb-3">
            <label class="form-label fw-semibold">Nombre</label>
            <input type="text" name="nombre" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Descripción</label>
            <textarea name="descripcion" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Objetivos</label>
            <textarea name="objetivos" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Clave</label>
            <input type="text" name="clave" class="form-control" required>
        </div>

        <!-- RESPONSABLES -->
        <div class="mb-4">
            <label class="form-label fw-semibold text-primary">
                Responsables
            </label>

            <input type="text"
                id="buscar-responsable"
                class="form-control mb-2"
                placeholder="Buscar por RFC, nombre o email...">

            <div id="lista-responsables"
                class="border rounded p-2 small"
                style="min-height:60px; max-height:200px; overflow-y:auto;">
            </div>

            <h6 class="fw-bold mt-3">
                Responsables seleccionados:
            </h6>

            <div id="responsables-seleccionados"
                class="mt-2 p-2 border rounded bg-light"
                style="min-height:50px;">
            </div>
        </div>

        <div class="mb-4">
            <label class="form-label fw-semibold">Carreras</label>
            <div id="carreras-container" class="row"></div>
        </div>

        <div class="mb-4">
            <label class="form-label fw-semibold text-primary">Actividades</label>
            <div id="actividades-container"></div>

            <button type="button"
                    id="btn-agregar-actividad"
                    class="btn btn-outline-primary mt-2">
                Agregar actividad
            </button>
        </div>

        <button type="submit" class="btn btn-success w-100">
            Actualizar Proyecto
        </button>
        <button 
        type="button"
            class="btn btn-secondary w-100 py-2 mt-2"
            hx-get="/pantallas/proyectos/editar"
            hx-target="#main-content"
            hx-swap="innerHTML">
            Cancelar
        </button>

    </form>
</div>