<div class="card shadow-sm">
    <div class="card-header bg-light fw-semibold text-primary">
        Resultados
    </div>

    <ul class="list-group list-group-flush">

        <th:block th:if="${#lists.isEmpty(proyectos)}">
            <li class="list-group-item text-muted text-center py-3">
                Sin resultados...
            </li>
        </th:block>

        <th:block th:each="p : ${proyectos}">
            <li class="list-group-item list-group-item-action p-3">

                <button 
                    class="w-100 text-start border-0 bg-transparent"
                    th:attr="data-proyecto-id=${p.id}">

                    <div class="fw-semibold text-dark">
                        [[${p.clave}]]
                    </div>

                    <div class="text-muted">
                        [[${p.nombre}]]
                    </div>

                </button>

            </li>
        </th:block>

    </ul>
</div>