<div>
    <ul class="list-group">
        <li class="list-group-item fw-bold text-primary">Resultados</li>

        <th:block th:if="${#lists.isEmpty(visitas)}">
            <li class="list-group-item text-muted">Sin resultados...</li>
        </th:block>

        <th:block th:each="e : ${equipos}">
            <li class="list-group-item">
                <button 
                    class="btn btn-link"
                    th:hx-get="@{/pantallas/equipos/form-editar(id=${e.id})}"
                    hx-target="#form-editar"
                    hx-swap="innerHTML">
                    [[${e.descripcion}]] (ID [[${e.id}]])
                </button>

            </li>
        </th:block>
    </ul>
</div>
