<!DOCTYPE html>
<html lang="es"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Laboratorio BigData</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="icon" type="image/png" th:href="@{/img/fes-aragon-unam-seeklogo.png}">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>

<body
    id="app"
    th:attr="data-roles=${#authentication.authorities.?[true].![authority]}">

<div class="d-flex vh-100">

    <!-- MENU LATERAL -->
    <div id="sidebar" class="text-white p-3 d-flex flex-column">
        <h4 class="mb-4">Laboratorio BigData</h4>

        <button class="btn btn-custom-primary mb-2"
                hx-get="/pantallas/inicio"
                hx-target="#main-content"
                hx-swap="innerHTML">
            Inicio
        </button>

        <button class="btn btn-custom-primary mb-2"
                hx-get="/pantallas/asistencias/principal"
                hx-target="#main-content"
                hx-swap="innerHTML">
            Asistencias
        </button>

        <div sec:authorize="hasRole('ADMIN')">
            <button class="btn btn-custom-primary mb-2 w-100"
                    hx-get="/pantallas/equipos/editar"
                    hx-target="#main-content"
                    hx-swap="innerHTML">
                Equipo
            </button>
        </div>

        <!--
        <a href="/api/equipos" target="_blank" class="btn btn-outline-light mb-2">
            Equipo JSON
        </a>
        -->

        <div sec:authorize="hasRole('ADMIN')">
            <button class="btn btn-custom-primary mb-2 w-100"
                    hx-get="/pantallas/proyectos/editar"
                    hx-target="#main-content"
                    hx-swap="innerHTML">
                Proyecto
            </button>
        </div>

        <!--
        <a href="/api/proyectos" target="_blank" class="btn btn-outline-light mb-2">
            Proyecto JSON
        </a>
        

        <a href="/api/asistencias" target="_blank" class="btn btn-outline-light mb-2">
            Asistencia JSON
        </a>
        -->

        <div sec:authorize="hasRole('ADMIN')">
            <button class="btn btn-custom-primary mb-2 w-100"
                    hx-get="/pantallas/visitas/editar"
                    hx-target="#main-content"
                    hx-swap="innerHTML">
                Visitante
            </button>
        </div>

        <!--
        <a href="/api/visitas" target="_blank" class="btn btn-outline-light mb-2">
            Visita JSON
        </a>
        -->

        <div sec:authorize="hasRole('ADMIN')">
            <button class="btn btn-custom-primary mb-2 w-100"
                    hx-get="/pantallas/usuarios/principal"
                    hx-target="#main-content"
                    hx-swap="innerHTML">
                Usuarios
            </button>
        </div>

        <button class="btn btn-custom-primary mb-2"
                hx-get="/pantallas/creditos"
                hx-target="#main-content"
                hx-swap="innerHTML">
            Creditos
        </button>
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-custom-primary mb-2 w-100">
                Cerrar sesión
            </button>
        </form>        

        <hr>
        <div class="text-center">

            <img sec:authorize="hasRole('ADMIN')"
                 src="/img/fes-aragon-unam-seeklogo.png"
                 alt="FES Aragon"
                 width="25%">
        
            <img sec:authorize="!hasRole('ADMIN')"
                 src="/img/fes-aragon-unam-seeklogo.png"
                 alt="FES Aragon"
                 width="65%">
        </div>

    </div>

    <!-- CONTENIDO PRINCIPAL -->
    <div id="main-content" class="bg-light d-flex flex-column flex-grow-1">

        <div class="p-4 flex-grow-1">
    
            <h2 class="mb-3">Sistema de Gestión del Laboratorio de Big Data</h2>
    
            <h5 class="text-muted mb-4">
            Facultad de Estudios Superiores Aragón – UNAM
            </h5>
    
            <p>
            Este sistema permite registrar asistencias, administrar equipos,
            gestionar proyectos y consultar información relacionada con las
            actividades del laboratorio.
            </p>
    
            <p class="mt-3">
            Seleccione una opción en el menú lateral para comenzar.
            </p>
    
        </div>
    
        <footer class="text-center py-3 text-muted border-top">
            Sistema desarrollado para el Laboratorio de Big Data – FES Aragón
        </footer>
    
    </div>

</div>

</body>
</html>

<script type="module" th:src="@{/js/main.js}"></script>